.markdown {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}

.markdown ul,
.markdown ol {
  margin: 0;
  padding-top: 0;
}

.markdown h2 {
  padding: 8px 0;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
  margin-bottom: 1vw;
  font-weight: 500;
}

.markdown h3 {
  padding: 8px 0;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  margin-bottom: 1vw;
  font-weight: 500;
}
