.markdown {
  font-family: "Nanum Gothic", sans-serif;
  text-transform: capitalize;
  color: white;
}

.markdown p{
  font-size: 18px;
}

.markdown strong {
  font-weight: 600;
  color: bisque;
}

.markdown ul,
.markdown ol {
  margin: 0;
  padding-top: 0;
  font-size: 18px;
  color: white;
}

.markdown h1 {
  margin: 76px 0;
  color: rgb(255 255 219);
}

.markdown h2 {
  padding: 8px 0;
  margin: 10px 0;
  font-size: 24px;
  margin: 1vw 0;
  color: white;
}

.markdown h3 {
  padding: 8px 0;
  margin: 10px 0;
  font-size: 22px;
  margin-bottom: 1vw;
  color: white;
}

.markdown a {
  color: white;
}

.markdown code {
  color: #f8f8f2;
}

.markdown pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  padding: 3em 2.5em;
  font-size: 1.2em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #282C35 ;
}