.markdown {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  font-size: 12px;
}

.markdown h2 {
}

.markdown h3 {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.21em;
  margin-bottom: 2vw;
}
